body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background-color: #f15b05;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}


nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.services, .testimonials {
    padding: 2rem;
    text-align: center;
}

.services h2, .testimonials h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 250px;
}

.service-card h3 {
    font-size: 1.8rem;
}

.service-card p {
    font-size: 1rem;
    color: #555;
}


.testimonials p {
    font-style: italic;
    color: #333;
    margin: 20px 0;
}


footer {
    background-color: #f15b05;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
    margin: 0;
}