body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #f15b05;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.form-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    background-color: #f15b05;
    color: white;
    cursor: pointer;
    border: none;
}

.form-group input[type="submit"]:hover {
    background-color: #e14e04;
}

footer {
    background-color: #f15b05;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.form-content{
    display: none;
}

.form-content.active{
    display: block;
}

.switch-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }